@{
    ViewData["Title"] = "Liên hệ - Trại Dế Oanh Vĩnh";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Liên hệ</h2>
                        <h4>
                            Note ghi chú đổ dữ liẹue ở đây
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15632.957352840795!2d106.2627731!3d11.6062787!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeff0ec5c41624d15!2zVHLhuqFpIEThur8gT2FuaCBWxKluaCBUw6J5IE5pbmg!5e0!3m2!1sen!2s!4v1650956646711!5m2!1sen!2s"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
<!--::regervation_part start::-->
<section class="regervation_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Liên hệ với</p>
                    <h2>Trại Dế Oanh Vĩnh</h2>
                </div>
            </div>
        </div>
        <di class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <!-- Contact form (old) -->
                    <!--
                             <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" placeholder="Tên của bạn *">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="pnone" placeholder="Số điện thoại *">
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="input-group date">
                                        <input id="datepicker" type="text" class="form-control"
                                            placeholder="Đặt lịch hẹn *" />
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" id="Select2">
                                        <option value="" selected>Thời gian *</option>
                                        <option value="1">8 AM TO 10AM</option>
                                        <option value="1">10 AM TO 12PM</option>
                                        <option value="1">12PM TO 2PM</option>
                                        <option value="1">2PM TO 4PM</option>
                                        <option value="1">4PM TO 6PM</option>
                                        <option value="1">6PM TO 8PM</option>
                                        <option value="1">4PM TO 10PM</option>
                                        <option value="1">10PM TO 12PM</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" id="Textarea" rows="4"
                                        placeholder="Lời nhắn của bạn *"></textarea>
                                </div>
                            </div>


                            <div class="regerv_btn">
                                <a href="#" class="btn_4">Gửi</a>
                            </div>
                        </form>
                    -->
                    <div class="contact-detail">
                        <div>
                            Chúng tôi luôn luôn sẵn hàng hỗ trợ bạn. Hãy cho chúng tôi lời nhắn của bạn qua
                            Facebook.
                        </div>
                        <div>Hoặc trực tiếp liên hệ với chúng tôi</div>
                        <div class="d-flex align-items-center">
                            <span class="ti-home icon"></span>
                            <div>
                                Ấp 7, Suối Dây, huyện Tân Châu, tỉnh Tây Ninh, Việt Nam
                            </div>
                        </div>
                        <div class="d-flex align-items-center"><span class="ti-headphone-alt icon"></span> 0985.566.673</div>
                        <div class="d-flex align-items-center"><span class="ti-calendar icon"></span> Thời gian làm việc tất cả ngày trong tuần</div>
                    </div>
                </div>
            </div>
    </div>
</section>
<!--::regervation_part end::-->
