@{
    ViewData["Title"] = "Trang Chủ - TraiDeOanhVinh";
}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Liên hệ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15632.957352840795!2d106.2627731!3d11.6062787!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeff0ec5c41624d15!2zVHLhuqFpIEThur8gT2FuaCBWxKluaCBUw6J5IE5pbmg!5e0!3m2!1sen!2s!4v1650956646711!5m2!1sen!2s"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- ================ contact section end ================= -->
<!--::regervation_part start::-->
<section class="regervation_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Liên hệ với</p>
                    <h2>Trại Dế Oanh Vĩnh</h2>
                </div>
            </div>
        </div>
        <di class="row">
            <div class="col-lg-6">
                <div class="regervation_part_iner">
                    <div class="item d-flex align-items-center">
                        <span class="ti-map-alt fa-3x mr-3"></span>
                        <div>
                            Ấp 7, Suối Dây, huyện Tân Châu, tỉnh Tây Ninh, Việt Nam
                        </div>
                    </div>
                    <div class="item d-flex align-items-center">
                        <span class="fa fa-phone fa-3x mr-3"></span>
                        <div>
                            0985.566.673
                        </div>
                    </div>
                    <div class="item d-flex align-items-center">
                        <span class="ti-calendar fa-3x mr-3"></span>
                        <div>
                            Thứ 2 - Chủ nhật: 9h00 - 16h00
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
<!--::regervation_part end::-->