    <!-- about part start-->
<section class="about_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="img/banner/trai-de-oanh-vinh-banner-2.png" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h5>Đôi nét riêng</h5>
                    <h2>Sản phẩm đạt chuẩn OCOP hạng 3 sao</h2>
                    <h4>Sản phẩm bình dân, chất lượng cao</h4>
                    <p>
                        Hãy thưởng thức những món ăn thật tuyệt vời của TRẠI DẾ OANH VĨNH TÂY NINH sẽ mang đến cho
                        tất cả các bạn cảm giác thật tuyệt vời khi sử dụng dịch vụ cũng như những sản phẩm chất
                        lượng mà TRẠI DẾ OANH VĨNH mang lại mọi nhu cầu sử dụng xin liên hệ hotline: 0985566673
                    </p>
                    <a href="https://www.facebook.com/traideoanhvinhtayninh" target="_blank" class="btn_3">
                        Đọc thêm
                        <img src="img/icon/left_2.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->