    <!--::exclusive_item_part Top_Product start::-->
<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Hàng đại trà</p>
                    <h2 class="text-capitalize">Top Sản phẩm</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel list-top-product">
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/de-say-oanh-vinh-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế sấy khô</h3>
                        <p>
                            Đây là một lựa chọn tuyệt vời cho các món ăn nhẹ ở những người có như cầu protein cao như
                            vận động viên, những người tập gym, thể hình, vừa dinh dưỡng lại rất giàu protein.
                        </p>
                        <div class="btn_3">Đọc thêm <img src="img/icon/left_2.svg"></div>
                    </div>
                </a>

            </div>
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/de-xao-xa-ot-oanh-vinh-resz-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế xào sả ớt</h3>
                        <p>
                            Dế mèn là một sản phẩm không thể thiếu cho những người đang là vận động viên thể thao.
                            Thể hình. Và đặc biệt cho những người có nhu cầu cung cấp chất dinh dưỡng cao cho cơ thể
                            vì DẾ MÈN có chứa rất nhiều vitamin dinh dưỡng và khoáng chất giúp cho cơ thể.
                        </p>
                        <div class="btn_3">Đọc thêm <img src="img/icon/left_2.svg"></div>
                    </div>
                </a>
            </div>
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/mon-an-voi-de-men-oanh-vinh-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế Oanh Vĩnh</h3>
                        <p>
                            TRẠI DẾ OANH VĨNH TÂY NINH đã không ngừng sáng tạo ra nhiều món ăn thật tuyệt vời cho tất
                            cả khách hàng khi đến với Tây Ninh để được thưởng thức các món ăn từ con Dế mèn.
                        </p>
                        <div class="btn_3">Đọc thêm<img src="img/icon/left_2.svg"></div>
                    </div>
                </a>
            </div>
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/de-say-oanh-vinh-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế sấy khô</h3>
                        <p>
                            Đây là một lựa chọn tuyệt vời cho các món ăn nhẹ ở những người có như cầu protein cao như
                            vận động viên, những người tập gym, thể hình, vừa dinh dưỡng lại rất giàu protein.
                        </p>
                        <div class="btn_3">Đọc thêm <img src="img/icon/left_2.svg"></div>
                    </div>
                </a>

            </div>
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/de-xao-xa-ot-oanh-vinh-resz-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế xào sả ớt</h3>
                        <p>
                            Dế mèn là một sản phẩm không thể thiếu cho những người đang là vận động viên thể thao.
                            Thể hình. Và đặc biệt cho những người có nhu cầu cung cấp chất dinh dưỡng cao cho cơ thể
                            vì DẾ MÈN có chứa rất nhiều vitamin dinh dưỡng và khoáng chất giúp cho cơ thể.
                        </p>
                        <div class="btn_3">Đọc thêm <img src="img/icon/left_2.svg"></div>
                    </div>
                </a>
            </div>
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/mon-an-voi-de-men-oanh-vinh-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế Oanh Vĩnh</h3>
                        <p>
                            TRẠI DẾ OANH VĨNH TÂY NINH đã không ngừng sáng tạo ra nhiều món ăn thật tuyệt vời cho tất
                            cả khách hàng khi đến với Tây Ninh để được thưởng thức các món ăn từ con Dế mèn.
                        </p>
                        <div class="btn_3">Đọc thêm<img src="img/icon/left_2.svg"></div>
                    </div>
                </a>
            </div>
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/de-say-oanh-vinh-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế sấy khô</h3>
                        <p>
                            Đây là một lựa chọn tuyệt vời cho các món ăn nhẹ ở những người có như cầu protein cao như
                            vận động viên, những người tập gym, thể hình, vừa dinh dưỡng lại rất giàu protein.
                        </p>
                        <div class="btn_3">Đọc thêm <img src="img/icon/left_2.svg"></div>
                    </div>
                </a>

            </div>
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/de-xao-xa-ot-oanh-vinh-resz-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế xào sả ớt</h3>
                        <p>
                            Dế mèn là một sản phẩm không thể thiếu cho những người đang là vận động viên thể thao.
                            Thể hình. Và đặc biệt cho những người có nhu cầu cung cấp chất dinh dưỡng cao cho cơ thể
                            vì DẾ MÈN có chứa rất nhiều vitamin dinh dưỡng và khoáng chất giúp cho cơ thể.
                        </p>
                        <div class="btn_3">Đọc thêm <img src="img/icon/left_2.svg"></div>
                    </div>
                </a>
            </div>
            <div class="single_blog_item">
                <a href="#" data-toggle="modal" data-target="#exampleModal">
                    <div class="single_blog_img">
                        <img src="img/food_item/mon-an-voi-de-men-oanh-vinh-min.jpg" alt="">
                    </div>
                    <div class="single_blog_text">
                        <h3>Dế Oanh Vĩnh</h3>
                        <p>
                            TRẠI DẾ OANH VĨNH TÂY NINH đã không ngừng sáng tạo ra nhiều món ăn thật tuyệt vời cho tất
                            cả khách hàng khi đến với Tây Ninh để được thưởng thức các món ăn từ con Dế mèn.
                        </p>
                        <div class="btn_3">Đọc thêm<img src="img/icon/left_2.svg"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--::exclusive_item_part end::-->

 <!--modal for product list-->
    <section class="list-modal">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Dế sấy khô</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="description">
                            Đây là một lựa chọn tuyệt vời cho các món ăn nhẹ ở những người có như cầu protein cao như
                            vận động viên, những người tập gym, thể hình, vừa dinh dưỡng lại rất giàu protein.
                        </h5>
                        <div class="detail">
                            <p><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;">Đây là một lựa chọn
                                    tuyệt vời cho các món ăn nhẹ ở những người có như cầu protein cao như vận động viên,
                                    những người tập gym, thể hình.</span></p>
                            <img class="d-block m-auto" src="/img/food_item/de-say-oanh-vinh-min.jpg" />
                            <p><br><span style="font-size: 14pt;" data-mce-style="font-size: 14pt;"><strong>Giá trị dinh
                                        dưỡng của dế :&nbsp;</strong></span><br><span style="font-size: 14pt;"
                                    data-mce-style="font-size: 14pt;">Theo như tìm hiểu thì các nghiên cứu dinh dưỡng về
                                    côn trùng tại Mỹ cho rằng “thịt dế tốt hơn thịt bò”.</span><br><span
                                    style="font-size: 14pt;" data-mce-style="font-size: 14pt;">Lý do là vì trong dế có
                                    lượng Sắt lớn hơn nhiều so với thịt bò, sắt là thành phần dinh dưỡng chủ yếu khiến
                                    thịt bò trở nên thịnh hành như ngày nay. Mặt khác, hệ tiêu hóa của người hấp thụ sắt
                                    từ dế cũng tốt hơn từ thịt bò.</span></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </section>