/**************** blog part css start ****************/
.blog_item_section {
    background-color: $grey_bg_color;
    padding: 20px 0;
    .single_blog_item {
        .single_blog_img {
            border-radius: 3rem 0.5rem 0 0;
            overflow: hidden;
            img {
                transition: all 0.5s ease-in-out;
            }
        }
        @media #{$small_mobile} {
            margin-bottom: 20px;
        }
        @media #{$large_mobile} {
            margin-bottom: 20px;
        }
        @media #{$tab_device} {
            margin-bottom: 20px;
        }
        @media #{$medium_device} {
        }
        .btn_3 {
            margin-top: 10px;
            display: block;
            img {
                display: inline-block;
            }
            &::after {
                right: 4rem;
                transition: all 0.5s ease-in-out;
            }
        }
        &:hover {
            .single_blog_text {
                border: 1px solid transparent;
                box-shadow: 0px 15px 30px rgba(115, 113, 127, 0.1);
                background-color: $white_color;
            }
            .btn_3 {
                color: $btn_bg;
                display: block;
                a {
                    color: $btn_bg;
                }
                img {
                    display: inline-block;
                    transform: rotateX(-180deg);
                    margin-bottom: 7px;
                }
                &::after {
                    right: 2rem;
                    background-color: #ff6426;
                }
            }
            .single_blog_img img {
                transform: scale(1.12);
            }
        }
    }
    .single_blog_img {
        img {
            max-height: 200px;
            width: 100%;
        }
    }
    .single_blog_text {
        padding: 20px 20px 40px;
        border: 1px solid rgb(231, 231, 231);
        border-radius: 100px 0px 623px 77px / 0px 50px 128px 58px;
        background-color: $white_color;
        @include transform_time(0.5s);
        @media #{$small_mobile} {
            padding: 20px 15px;
        }
        @media #{$large_mobile} {
            padding: 20px 15px;
        }
        @media #{$tab_device} {
            padding: 25px 15px;
        }
        @media #{$medium_device} {
        }
        h3 {
            font-size: 1.25em;
            font-weight: 700;
            margin-bottom: 10px;
            @media #{$small_mobile} {
            }
            @media #{$large_mobile} {
            }
            @media #{$tab_device} {
            }
            @media #{$medium_device} {
            }
        }
        btn_3 {
            color: #2c3033;
            margin-top: 15px;
            text-transform: capitalize;
            display: block;
            img {
                display: inline-block;
            }
            ::after {
            }
        }
        p {
            font-size: 1em;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media #{$small_mobile} {
            }
            @media #{$large_mobile} {
            }
            @media #{$tab_device} {
            }
            @media #{$medium_device} {
            }
        }
    }
}
.blog_section {
    .single_blog_text {
        .date {
            .date_item {
                color: #2c3033;
                font-size: 15px;
                margin-right: 19px;
                span {
                    color: $btn_bg;
                }
            }
        }
        h3 {
            font-size: 24px;
            color: rgb(44, 48, 51);
            line-height: 1.458;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 0px;
            a {
                color: rgb(44, 48, 51);
            }
            @media #{$small_mobile} {
                font-size: 20px;
            }
            @media #{$large_mobile} {
                font-size: 20px;
            }
            @media #{$tab_device} {
            }
            @media #{$medium_device} {
            }
        }
        .btn_3 {
            margin-top: 10px;
            img {
                margin-bottom: 8px;
            }
        }
    }
}
