/**************menu part start*****************/
.home_menu {
	.main-menu-item {
		padding-right: 100px;
	}
	.menu_btn {
		a {
			background-color: $common_color;
			color: $white-color !important;
		}
		&:hover a {
			color: $white-color !important;
		}
	}
}
.main_menu {
	background-color: $green_Color;
	.navbar-brand {
		padding-top: 0rem;
		padding-bottom: 0px;
	}

	.navbar {
		.navbar-brand img {
			max-height: 80px;
		}
		.nav-link {
			display: inline-block;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: -10px;
				left: 0;
				right: 0;
				z-index: 1;
				width: 50%;
				height: 2px;
				background-color: $common_color_blur;
				transform: translateX(50%);
				transition: all 0.5s ease-in-out;
				@media #{$medium_device} {
					bottom: 10px;
				}
				@media #{$tab_device} {
					bottom: 5px;
				}
				@media #{$large_mobile} {
					bottom: 10px;
				}
				@media #{$small_mobile} {
					bottom: 10px;
				}
			}
			
			&:hover,
			&:focus {
				&::before {
					background-color: $common_color;
				}
			}
		}
	}
	.main-menu-item {
		text-align: center !important;
		justify-content: center !important;
		ul {
			li a {
				color: $menu_color !important;
				font-size: 16px;
				padding: 0px 22px !important;
				font-family: $font_stack_1;
				@media #{$medium_device} {
					padding: 0px 16px !important;
				}
				@media #{$tab_device} {
					padding: 10px 16px !important;
				}
				@media #{$large_mobile} {
					padding: 10px 16px !important;
				}
				@media #{$small_mobile} {
					padding: 10px 16px !important;
				}

				&:hover {
					color: $btn_bg !important;
				}
			}
		}
	}
}

.home_menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
}

.menu_fixed {
	position: fixed;
	z-index: 99 !important;
	width: 100%;
	padding: 5px;
	background-color: $grey_bg_color;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
	top: 0;
	.navbar {
		padding: 0;
		.navbar-brand img {
			max-height: 70px;
		}
	}
	span {
		color: #000 !important;
	}
	.btn_1 {
		border: 2px solid $btn_bg;
		&:hover {
			border: 2px solid transparent;
		}
	}
	.main-menu-item {
		padding-right: 0px;
	}
}
.dropdown-menu {
	border: 0px solid rgba(0, 0, 0, 0.15) !important;
	background-color: #fafafa;
}

.dropdown {
	.dropdown-menu {
		transition: all 0.5s;
		overflow: hidden;
		transform-origin: top center;
		transform: scale(1, 0);
		display: block;
		margin-top: 8px;
		.dropdown-item {
			font-size: 14px;
			padding: 9px 18px !important;
			font-family: "Lora", serif;
		}
	}
	&:hover {
		.dropdown-menu {
			transform: scale(1);
		}
	}
}
@media #{$small_mobile} {
	.navbar-brand img {
		max-width: 100px;
	}
	.navbar-light .navbar-toggler {
		border-color: transparent;
		position: absolute;
		right: 0;
	}
	.navbar-collapse {
		z-index: 99 !important;
		position: absolute;
		left: 0;
		top: 88px;
		width: 100%;
		background-color: $white-color;
		text-align: center !important;
	}
	.main_menu .main-menu-item {
		text-align: left !important;
	}
	.dropdown {
		.dropdown-menu {
			transform: scale(1, 0);
			display: none;
		}
		&:hover {
			.dropdown-menu {
				transform: scale(1);
				display: block;
			}
		}
	}
}

@media #{$large_mobile} {
	.navbar-light .navbar-toggler {
		border-color: transparent;
		position: absolute;
		right: auto;
		left: 0;
	}
	.navbar {
		.navbar-brand {
			text-align: center;
			margin: 0 auto;
			padding-left: 16%;
		}
	}

	.navbar-collapse {
		z-index: 99 !important;
		position: absolute;
		left: 0;
		top: 88px;
		width: 100%;
		background-color: $white-color;
		text-align: center !important;
	}
	.main_menu .main-menu-item {
		text-align: left !important;
		.nav-item {
			padding: 3px 15px !important;
		}
	}
	.dropdown {
		.dropdown-menu {
			transform: scale(1, 0);
			display: none;
		}
		&:hover {
			.dropdown-menu {
				transform: scale(1);
				display: block;
			}
		}
	}
}

@media #{$tab_device} {
	.navbar-light .navbar-toggler {
		border-color: transparent;
		position: absolute;
		right: auto;
		left: 0;
	}
	.navbar {
		.navbar-brand {
			text-align: center;
			margin: 0 auto;
			padding-left: 16%;
		}
	}

	.navbar-collapse {
		z-index: 99 !important;
		position: absolute;
		left: 0;
		top: 88px;
		width: 100%;
		background-color: $white-color;
		text-align: center !important;
	}
	.main_menu .main-menu-item {
		text-align: left !important;
		.nav-item {
			// padding: 3px 15px !important;
		}
		.dropdown {
			.dropdown-menu {
				transform: scale(1, 0);
				display: none;
			}
			&:hover {
				.dropdown-menu {
					transform: scale(1);
					display: block;
				}
			}
		}
	}
	@media #{$medium_device} {
		.dropdown {
			.dropdown-menu {
				transform: scale(1, 0);
				display: none;
			}
			&:hover {
				.dropdown-menu {
					transform: scale(1);
					display: block;
				}
			}
		}
	}
}

