
    <!-- vcOwner::chefs_part start::-->
    <section class="chefs_part blog_item_section section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section_tittle">
                        <p>Chủ dự án</p>
                        <h2>Người tiên phong</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4 col-xl-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="img/team/giai-thuong-3.jpg" alt="">
                        </div>
                        <div class="single_blog_text text-center">
                            <h3>Chú Vĩnh</h3>
                            <p>Thủ lĩnh</p>
                            <div class="social_icon">
                                <a href="https://www.facebook.com/chiesryho.teo" target="_blank"> <i
                                        class="ti-facebook"></i> </a>
                                <a href="#" target="_blank"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#" target="_blank"> <i class="ti-instagram"></i> </a>
                                <a href="#" target="_blank"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="img/team/chefs_2-min.png" alt="">
                        </div>
                        <div class="single_blog_text text-center">
                            <h3>Fred Macyard</h3>
                            <p>Chef Master</p>
                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-3 d-none d-lg-block">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="img/team/chefs_3-min.png" alt="">
                        </div>
                        <div class="single_blog_text text-center">
                            <h3>Justin Stuard</h3>
                            <p>Chef Master</p>
                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-3 d-none d-xl-block">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="img/team/chefs_3-min.png" alt="">
                        </div>
                        <div class="single_blog_text text-center">
                            <h3>Justin Stuard</h3>
                            <p>Chef Master</p>
                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::chefs_part end::-->