@model List<ProductCategory>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebOanhVinh</title>
</head>
<body>

    @RenderBody()
    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
                    <div class="single-footer-widget footer_2">
                        <div class="contact_info">
                            <ul>
                                <li><a href="#">Thông tin doanh nghiệp</a></li>
                                <li><a href="#">Chính sách mua bán</a></li>
                                <li><a href="#">Thông tin người sáng lập</a></li>
                                <li><a href="#">Thông tin dự án</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-2 col-lg-3">
                    <div class="single-footer-widget footer_2">
                        <div class="contact_info">
                            <ul>
                                <li><a href="#">Lịch sử thay đổi</a></li>
                                <li><a href="#">Thông tin khách hàng</a></li>
                                <li><a href="#">Góp ý, khiếu nại</a></li>
                                <li><a href="#">Tìm chúng tôi trên map</a></li>
                                <li><a href="#">bản Mobile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
                    <div class="single-footer-widget footer_2">
                        <div class="contact_info">
                            <p><span> Address :</span>Hath of it fly signs bear be one blessed after </p>
                            <p><span> Phone :</span> +2 36 265 (8060)</p>
                            <p><span> Email : </span>info@colorlib.com </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4 col-lg-3">
                    <div class="single-footer-widget footer_3 text-right">
                        <div class="footer__col">
                            <div class="f-certify">
                                <a class="_ncsc" rel="nofollow"
                                   href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/thegioididongcom-1632835473"
                                   title="Chung nhan Tin Nhiem Mang" target="_blank">
                                    <img class="lazy lazyloaded"
                                         data-original="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com"
                                         data-src="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com" width="150"
                                         alt="Chung nhan Tin Nhiem Mang" src="img/icon_common@2x.png">
                                </a>
                                <a class="_ncsc" rel="nofollow"
                                   href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/thegioididongcom-1632835473"
                                   title="Chung nhan Tin Nhiem Mang" target="_blank">
                                    <img class="lazy lazyloaded"
                                         data-original="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com"
                                         data-src="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com" width="150"
                                         alt="Chung nhan Tin Nhiem Mang"
                                         src="https://tinnhiemmang.vn/handle_cert?id=thegioididong.com">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- swiper js -->
    <script src="js/slick.min.js"></script>
    <script src="js/gijgo.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=6275549d1dc34500127f9a8d&product=sticky-share-buttons" async="async"></script>
    <script src="js/custom.js"></script>
</body>
</html>
