<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TraiDeOanhVinh</title>
    <link rel="icon" href="/img/icon/icon-trai-de-oanh-vinh-goc-removebg-favicon.png">
    <vc:vc-css />
</head>
<body>
    <div class="sharethis-sticky-share-buttons"></div>
    <a href="#" id="toTopBtn">
    </a>
     <div class="content-center">
        <a href="tel:0985566673" class="pulse"> <i class="fas fa-phone animated tada infinite"></i> </a>
    </div>
    <vc:vc-main-menu />
    @RenderBody()
    <vc:vc-footer />
    <vc:vc-script />
</body>
</html>
