<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebOanhVinh</title>
    <vc:vc-css></vc:vc-css>
</head>
<body>
    <div class="sharethis-sticky-share-buttons"></div>
    <a href="#" id="toTopBtn">
    </a>
  <vc:vc-main-menu></vc:vc-main-menu>
    @RenderBody()
    <vc:vc-footer></vc:vc-footer>
    <vc:vc-script></vc:vc-script>
</body>
</html>
