<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="container">
            <div class="owl-carousel main-carousel">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-8 col-md-9 col-lg-7">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h5>Giá rẻ ngang bịch đậu phộng</h5>
                                <h1>Trại dế Oanh vĩnh</h1>
                                <p>Chúng tôi là doanh nghiệp tư nhân chuyên nuôi dế với quy mô chuồng trại lớn. Chuyên
                                    cung
                                    cấp các loại thực phẩm côn trùng - dế mèn - dế sấy với giá cạnh tranh.
                                    Nếu bạn hứng thú với bất kì sản phẩm hoặc có bất kì câu hỏi nào hãy...
                                </p>
                                <div class="banner_btn">
                                    <div class="banner_btn_iner">
                                        <a href="#" class="btn_2">Liên hệ<span class="d-none d-md-inline"> với chúng
                                                tôi</span><img src="img/icon/left_1.svg" alt=""></a>
                                    </div>
                                    <a href="/video/video-gioi-thieu-trai-de-oanh-vinh-o-tay-ninh.mp4"
                                        class="popup-youtube video_popup">
                                        <span><img src="img/icon/play.svg" alt=""></span><span
                                            class="d-none d-md-inline">Xem Video</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-lg-5 d-none d-sm-block">
                        <img src="img/banner/trai-de-oanh-vinh-banner-1.png" alt="banner-trai-de-oanh-vinh">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-sm-8 col-md-9 col-lg-7">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h5>Hành trình sản phẩm OCOP của con dế mèn Tây Ninh</h5>
                                <h1>của Trại dế Oanh vĩnh</h1>
                                <p>
                                    Dế sấy tiện lợi
                                    khi sử dụng và cung cấp cho chúng ta nhiều chất dinh dưỡng cần thiết cho cơ thể ,vậy
                                    bạn còn đắng đo gì nữa hãy gọi cho chúng tôi.
                                </p>
                                <div class="banner_btn">
                                    <div class="banner_btn_iner">
                                        <a href="#" class="btn_2">Liên hệ với chúng tôi <img src="img/icon/left_1.svg"
                                                alt=""></a>
                                    </div>
                                    <a href="/video/video_banner_trai_de_oanh_vinh.mp4"
                                        class="popup-youtube video_popup">
                                        <span><img src="img/icon/play.svg" alt=""></span> Xem Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-lg-5 d-none d-sm-block">
                        <img src="img/banner/trai-de-oanh-vinh-banner-2.png" alt="banner-trai-de-oanh-vinh">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-sm-8 col-md-9 col-lg-7">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h5>Chuyện hôm qua giờ mới kể</h5>
                                <h1>Trại dế Oanh vĩnh</h1>
                                <p>
                                    Đài Truyền hình Tây Ninh đã đến trại dế oanh vĩnh làm
                                    phóng sự về sản phẩm ocop của trại. Trại mong rằng với những sản phẩm này sẽ mang
                                    lại món ăn ngon.sức khỏe cho mọi người vì dế là thức ăn sạch và giàu chất dinh dưỡng
                                </p>
                                <div class="banner_btn">
                                    <div class="banner_btn_iner">
                                        <a href="#" class="btn_2">Liên hệ với chúng tôi <img src="img/icon/left_1.svg"
                                                alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-lg-5 d-none d-sm-block">
                        <img src="img/banner/trai-de-oanh-vinh-banner-3.png" alt="banner-trai-de-oanh-vinh">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->