    <!-- banner part start-->
    <section class="banner_part">
        <div id="banner_part_home"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>Giá rẻ ngang bịch đậu phộng</h5>
                            <h1>Trại dế Oanh vĩnh</h1>
                            <p>Chúng tôi là doanh nghiệp tư nhân chuyên nuôi dế với quy mô chuồng trại lớn. Chuyên cung
                                cấp các loại thực phẩm côn trùng - dế mèn - dế sấy với giá cạnh tranh.
                                Nếu bạn hứng thú với bất kì sản phẩm hoặc có bất kì câu hỏi nào hãy...
                            </p>
                            <div class="banner_btn">
                                <div class="banner_btn_iner">
                                    <a href="#" class="btn_2">Liên hệ với chúng tôi <img src="img/icon/left_1.svg"
                                            alt=""></a>
                                </div>
                                <a href="/video/video-gioi-thieu-trai-de-oanh-vinh-o-tay-ninh.mp4"
                                    class="popup-youtube video_popup">
                                    <span><img src="img/icon/play.svg" alt=""></span> Xem Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->