 <!--search-->
<aside class="single_sidebar_widget search_widget">
    <form action="#">
        <div class="form-group">
            <div class="input-group mb-3">
                <input id="search" onkeyup="SearchAPI();" type="text" class="form-control" placeholder='Search Keyword'>
                <div class="input-group-append">
                    <button class="btn" type="button"><i class="ti-search"></i></button>
                </div>
            </div>

            <ul id="search-box" class="d-none list-unstyled">
            </ul>
        </div>
    </form>
</aside>
