@model List<Product>
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Thực Đơn</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- food_menu start-->
<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <p>Tất cả</p>
                    <h2>Sản Phẩm</h2>
                </div>
            </div>
            <vc:vc-food-menu-category/>
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active single-member" id="AllProduct" role="tabpanel">
                        <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="card mb-3 col-6 col-lg-4 mb-5">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-md-4">
                                                <img src="@item.ProductImages" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h3 class="card-title">@item.ProductName</h3>
                                                    <p class="card-text">@item.ProductDescription</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                    </div>
                    <!--Đổ dữ liệu danh sách sp theo danh mục vào panel từ vcProductListPanel-->
                    <div class="tab-pane fade single-member" id="Product" role="tabpanel">
                        <vc:vc-product-list-panel />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- food_menu part end-->

<vc:vc-intro-video />