@model List<Product>
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Thực Đơn</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!-- food_menu start-->
<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <p>Tất cả</p>
                    <h2>Sản Phẩm</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="nav nav-tabs food_menu_nav" id="myTab" role="tablist">
                    <a class="active" id="Special-tab" data-toggle="tab" href="#AllProduct" role="tab">
                        Tất cả Sản Phẩm<img src="img/icon/play.svg"
                                            alt="play">
                    </a>
                    <!--Đổ menu ở đây! Click menu sẽ thay đổi đường dẫn -> /danh-muc-1 -> lấy danh mục 1 đổ dữ liệu vào tabpanel id="Product"-->
                    <a id="Breakfast-tab" data-toggle="tab" href="#Breakfast" role="tab">Breakfast<img src="img/icon/play.svg" alt="play"></a>
                    <a id="Launch-tab" data-toggle="tab" href="#Product" role="tab" aria-controls="Launch"
                       aria-selected="false">Launch <img src="img/icon/play.svg" alt="play"></a>
                    <a id="Dinner-tab" data-toggle="tab" href="#Product" role="tab" aria-controls="Dinner"
                       aria-selected="false">Dinner <img src="img/icon/play.svg" alt="play"> </a>
                    <a id="Sneaks-tab" data-toggle="tab" href="#Product" role="tab" aria-controls="Sneaks"
                       aria-selected="false">Sneaks <img src="img/icon/play.svg" alt="play"></a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active single-member" id="AllProduct" role="tabpanel">
                        <div class="row">
                            <div class="card mb-3 col-6 col-lg-4 mb-5" data-toggle="modal" data-target="#ProductModal">
                                @foreach (var item in Model)
                                {
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-md-4">
                                            <img src="@item.ProductImages" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h3 class="card-title">@item.ProductName</h3>
                                                <p class="card-text">@item.ProductDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!--Đổ dữ liệu danh sách sp theo danh mục vào panel từ vcProductListPanel-->
                    <div class="tab-pane fade single-member" id="Product" role="tabpanel">
                        <vc:vc-product-list-panel />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- food_menu part end-->
<!--modal for product list-->
<vc:vc-product-detail-modal />

<vc:vc-intro-video />